{% extends "layout_bikeproducts.html" %}
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}مشاهده فاکتور{% endblock %}</title>

    <!-- Load styles -->
    <link rel="apple-touch-icon" href="{% static 'assets/img/apple-icon.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico' %}">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/templatemo.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/one.css' %}">
    <link href="{% static 'css/general.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}"> <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body style="direction: rtl !important;">
{% block body_page %}
<div class="cart">
    <h2 class="cart__title">سبد خرید</h2>
    <div class="cart__products-details">
        <div class="cart__products">
            <div class="cart__head-title">
                <p>کالا</p>
                <div class="pub-cls" style="gap: 75px;">
                    <p>قیمت</p>
                    <p>تعداد</p>
                    <p>مجموع</p>
                </div>
            </div>
            {% for item in cart.cart_details.all %}
            <div class="cart__product-item">
                <div class="product__main-detail">
                    <div class="product__image">
                        <img src="{% static 'img/ico/product.png' %}" alt="">
                    </div>
                    <div class="product__name">
                        <p>{{ item.product.name }}</p>
                    </div>
                </div>
                <div class="product__other-detail pub-cls">
                    <p class="product__price">${{ item.product.price }} <span style="color: rgb(185, 185, 185); font-size: 14px; font-weight: bold;">تومان</span></p>
                    <div class="product__quantity">
                        <div class="product__quantity-btn">
                            <button type="button" onclick="changeQuantity('{{ item.product.id }}', -1)">-</button>
                        </div>
                        <input type="text" class="product__quantity-num" id="quantity_{{ item.product.id }}" name="quantity_{{ item.product.id }}" value="{{ item.quantity }}" readonly style="all: unset; width: 30px; text-align: center;">
                         <!-- <p style="margin: 0 6px;" id="quantity_{{ item.product.id }}" name="quantity_{{ item.product.id }}">
                            
                         </p> -->
                        <div class="product__quantity-btn">
                            <button type="button" onclick="changeQuantity('{{ item.product.id }}', 1)">+</button>
                        </div>
                    </div>
                    <p class="product__total">200000 <span style="color: rgb(185, 185, 185); font-size: 14px; font-weight: bold;">تومان</span></p>
                </div>
            </div>
            {% endfor %}
        </div>
        <div>
            <div class="cart__order-summary" style="margin-bottom: 50px;">
                <div class="order-summary__main">
                    <div class="order-summary__detail">
                        خلاصه سفارش
                    </div>
                    <div class="order-summary__detail" style="border-top:1px solid rgb(204, 204, 204); border-bottom:1px solid rgb(204, 204, 204);">
                        <div style="display: flex; justify-content: space-between; align-items: center; margin: 7px 0;">
                            <p>
                                جمع قیمت ها
                            </p>
                            <p class="product__price">{{ cart.total_price }} <span style="color: rgb(185, 185, 185); font-size: 14px;">تومان</span></p>
                        </div>
                        <div style="display: flex; justify-content: space-between; align-items: center; margin: 7px 0;">
                            <p>
                                ارسال
                            </p>
                            <p>رایگان</p>
                        </div>
                    </div>
                    <div class="order-summary__detail">
                        <div style="display: flex; justify-content: space-between; align-items: center;">
                            <p>مجموع</p>
                            <p class="product__price">{{ cart.total_price }} <span style="color: rgb(185, 185, 185); font-size: 14px;">تومان</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cart__order-summary">
                <form action="#">
                    <div class="order-summary__main">
                        <div class="order-summary__detail">
                            اطلاعات زیر را پر کنید
                        </div>
                        <div class="order-summary__detail" style="border-top:1px solid rgb(204, 204, 204); border-bottom:1px solid rgb(204, 204, 204); gap: 15px; display: flex; flex-direction: column;">
                            <input type="text" class="form-input" placeholder="نام و نام خانوادگی" id="full_name" name="full_name" required>
                            <input type="email" class="form-input" placeholder="آدرس ایمیل" id="email" name="email" required>
                            <input type="text" class="form-input" placeholder="آدرس پستی" id="address" name="address" required>
                            <input type="text" class="form-input" placeholder="کد پستی" id="zip_code" name="zip_code" required>
                            <input type="text" class="form-input" placeholder="شهر" id="city" name="city" required>
                            <input type="text" class="form-input" placeholder="کشور" id="country" name="country" required>
                        </div>
                    </div>
                    <button class="order-summary__btn">پرداخت</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block script %}
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
<script src="{% static 'js/jquery-migrate-1.2.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/templatemo.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
<script>
    function changeQuantity(productId, change) {
        var quantityInput = document.getElementById('quantity_' + productId);
        var currentQuantity = parseInt(quantityInput.value);
        var newQuantity = currentQuantity + change;

        if (newQuantity >= 0) {
            quantityInput.value = newQuantity;
        }
    }
</script>
{% endblock %}
